%button=link_to "Home", root_path
%button=link_to "My Picks List", :picks
%button=link_to "Standings", :standings
%table#team_list{:style=>"width:100%;"}
  %thead
    %tr
      %th Name
      %th Short name
      %th Mascot
      %th 2010 Wins
      %th 2011 Wins
      -5.times do
        %th
  %tbody    
    - @teams.each do |team|
      =render :partial => 'team', :object => team
  %tfoot    

%p= link_to "New Team", new_team_path
:javascript
  $(function(){
    oTable = $('#team_list').dataTable({
  		"bJQueryUI": true,
  		"sPaginationType": "two_button",
  		"aoColumns":                                                       
        [                                                                  
        { "bSortable": true},
        { "bSortable": true},
        { "bSortable": false},
        { "bSortable": false},
        { "bSortable": false},
        { "bSortable": false},
        { "bSortable": false},
        { "bSortable": false},                        
        { "bSortable": false},                
        { "bSortable": false}
        ]
  	});
  })  