.container {
  width: 710px;
}

body {
  margin:auto;
  width:70%;
  background-color:#b0e0e6;
  border: 2px solid black;
}

header {
/*  padding-top: 20px;*/
}

header img {
  padding: 1em;
  background: #fff;
}

section {
  margin-top: 1em;
  font-size: 120%;
  padding: 20px;
  background: #fff;
}

section h1 {
  font-size: 200%;
}

/* Links */

a {
  color: #09c;
  text-decoration: none;
}

a:hover {
  color: #069;
  text-decoration: underline;
}

a:visited {
  color: #069;
}