
body {
  margin:auto;
  background: #F6F6F6 url('/images/goodnogood_crop3.jpg') top center no-repeat;
  background-size: 100%;
}

div.wrapper {
  width: 960px;
  margin: 0 auto;
}

a:hover {
  background: none;	
}

.wins_total {
  text-decoration: bold;
  position: auto;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
#prev_total_wins {
  color: green;
  font-size: 24pt;
}
#current_total_wins {
  color: green;
  font-size: 24pt;
}
/* Header */

#login_wrapper {
}

#nav_wrapper {
}

.login_container {
  float: right;
  color: white;
  background: black;
}

.login_container a{
  color: white;
}
/* Content */
#content_body {
  background: transparent url('/images/content_bg.png') top center repeat-y;
  position: relative;
}

#content_header {
  font-size: 0.01em;
  height: 12px;
  background: transparent url('/images/content_top.png') top center no-repeat;
}

#content_footer {
  background: transparent url('/images/content_bottom.png') top center no-repeat;
  height: 12px;
  margin-bottom: 24px;
}

/* Pages */
.notice_header {
  width: 875px;
  margin-left: 50px;
}

.page_header {
  width: 890px;
  margin: 0 auto 24px auto;
  padding-top: 13px;
}

.page_header img {
  margin-top: 7px;
  float: left;
}
.page_content {
  width: 870px;
  margin: 0px 40px;
}

/* Content */
.odd {
  background-color: #EEEEFF;
}
.even {
  background-color: #FFFACD;  
}

.pick_array{
  margin-left: auto;
  margin-right: auto;
  width:550px;
  overflow:hidden;
}
.pick{
  border: 3px dotted blue;
  float:left;
}

.left_score {
  float:left;
}

.right_score {
  float:right;
}
/* Sunken Well */

.sunken_well {
  padding: 8px 12px 10px 12px;
  background: #888 url(/images/sunken_well_bg.png) top center repeat-x;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border: 1px solid #BBB;
  border-top: 1px solid #666;
  border-bottom: 1px solid #FFF;
  margin: 0 18px 18px 18px;  
  position: relative;
  color: #FFF;
}

.sunken_well table {
  margin-bottom: 0;
}

.sunken_well a,
.sunken_well a:link,
.sunken_well a:visited {
  color: #FFF;
  text-decoration: underline;
}
  
.sunken_well a:hover,
.sunken_well a:focus {
  color: #FFF;
  text-decoration: none;
}
