%button=link_to "Home", root_path
- if current_user
  %button=link_to "My Picks List", :picks
  -if current_user.admin?
    %button=link_to "Team List", :teams
    %button=link_to "Users", :users
%h1 Overall Standings
%table
  %tr
    %th TotalW
    %th Username
    %th T1(Wins)
    %th T2(Wins)
    %th T3(Wins)
    %th T4(Wins)
    %th T5(Wins)                
  -@users.each do |user|
    %tr
      %td 0
      %td= user.username
      -user.teams.each do |team|
        %td= "#{team.short_name}(#{team.current_record.wins.to_s})"
  
  