%div
  %ul
    %li No, I've made it easy.  When you goto the "My Picks" page it will list all the teams and their respective wins from last year.  It's easy!
    %li No, I think one entry per person is best.  Feel free to sign up a friend and make picks for them, but one entry per email address.
    %li No, I won't reveal identities unless they want to.  I'm the only one who will know who you are(so I can collect/distribute money)
    %li No, I don't take into account NCAA infractions.  I also don't count moral victories, Tennessee fans.
    %li No, I didn't invent the game.  We played a similar version in Gainesville, so I brought my talents to O-town.
    %li No, It's not magic.  I'll (try to) update the wins every Sunday.  I'll post a timestamp so you know how up-to-date it is.  If you've got an idea on how to automate record updates, I'm interested.
    %li No, you can't play if you don't pay. I'll remove you if you haven't paid when the season starts.
    %li No, I haven't tested this on an iPad.  It seems to work on all modern browsers thus far.
    %li No, I won't make any exceptions.  Well, maybe.  Email me with questions, comments. #{mail_to 'mmperryman@gmail.com'}
    %li Yes, I'm going to play too!  It's my game.  I'm also the authority for any disputes, etc.  
    %li Protip: Don't tell people your picks if you don't want them to steal your ideas.

