%h4 FAQ
%ul
  %li No, I think one entry per person is best.  You can always sign up another person and make picks for them.  Cut them in for a percentage or something.
  %li No, I won't reveal identities unless they want to.  Its not really anonymous, but whatever.
  %li No, I don't take into account NCAA infractions.  Auburn has 14 wins last year, no matter what.  OSU has 12.  So on and so forth.  If the team is wiped out in a plane crash? Well, Marshall sucks anyways.
  %li No, I didn't invent the game.  We played a similar version in Gainesville.  It was done with emailing spreadsheets.  I don't think they invented it either, FWIW.  
  %li No, It's not magic.  I'll (try to) update the wins every Sunday.  I'll post a timestamp or something so you know how up-to-date it is.
  %li No, this site is a work-in-progress.  I'll back up the data just in case, but there will be bugs.  I'm sorry.
  %li No, you can't still play if you don't pay. I'll remove you if you haven't paid when the season starts.
  %li No, I haven't tested this on an iPad.  It seems to work on all modern browsers thus far.
  %li No, I'm going to play too.  It's my game.  Take a screenshot of the standings at the beginning of the season if you don't trust me.
  %li No, I won't make any exceptions.  Well, maybe.  Email me with questions, comments. #{mail_to 'mmperryman@gmail.com'}
  %li Yes, if this works out I will put together a basketball version.