%h4 $$$
%p
  It will cost $20 to pay.  Cash to me.  If you leave me money write down the username with it.  If you're out of town, Paypal will probably work.
  Payout will be 60/30/10.  60% to winner, 30% to second place, 10% to 3rd.  #{ link_to 'DFL', 'http://www.urbandictionary.com/define.php?term=dfl', :target => "_blank"} will get their money back.
  Ties will be split logically.  Payday will be after the BCS title game, or after its mathematically over.
