%ul
  %li
    %span{:style=>"font-weight:bold"} 01.09
    %div{:style=>"text-align:center;"}
      Our 2011 champ: Toxic Sushi!
      %br
      =image_tag 'toxic.jpg', :size => '300x400'
  %hr
  %li
    %span{:style=>"font-weight:bold"} 01.07
    The 2011-12 inaugural edition of The Moving Goalpost pool is over, folks.  We had a little bit of a runaway for first - congrats again to Toxic Sushi - and a 3-way tie for 2nd/3rd place between GroceryMan, Blimey's Blogarts, and virtualsupremacy.  Of course a special round of applause for Stone Cold, bringing home the DFL.
  %hr
