%ul
  %li
    %span{:style=>"font-weight:bold"}8.29 
    Only a short while left before the season starts!  The Picks portion of the site will disappear starting Wednesday at Midnight, so check the arrest reports and make your last minute changes!
  %hr
  %li
    %span{:style=>"font-weight:bold"}8.29
    I don't mind if you send a friend or family member the link to play, but please have them send me an email letting me know who they are, so I'll know how to go about collecting money from them.
  %hr
    %li
      %span{:style=>"font-weight:bold"} 8.21
      Since not everyone is a Gator fan (yet), I've added in a few more selectable backgrounds. You can set this under 'Edit Profile'.  Enjoy!

  