%ul
  %li
    %span{:style=>"font-weight:bold"}11.07
    So far, so good this season, with no runaway winners quite yet.  Gator fans are reeling after a winless October, and F$U & UGA seem to be regrouping.  Remember folks, it all gets very interesting during Conference Championship week and bowl season, so don't give up hope just yet.
  %hr
    %span{:style=>"font-weight:bold"}11.07
    Oops, double check those team records!  I enter them manually, so it is entirely possible I fudge one or two.  Send me an email if so.
  %hr  
    %span{:style=>"font-weight:bold"}11.07
    Well, Lousiana-Lafayette is the darling this year, going +5 so far.  I don't think any of us were smart enough to predict that one, but several of you have Houston at +4.  Hometown UCF has a long way to go at -7, and of course defending champs Auburn, despite an upset or two, still sit at -8.  Let's also mention the pre-season joke of Western Kentucky, who now sits at +3 with their 5 wins.  Go 'Toppers!
