%ul
  %li
    %span{:style=>"font-weight:bold"}	  01.02
    I guess it's official,
    %span{:style=>"font-weight:bold"}
      Toxic Sushi
    has mathematically eliminated all competition and claimed first prize.  The scramble is on for the scraps!
  %hr
  %li
  %span{:style=>"font-weight:bold"}01.02
  Wow, exciting games on today!  Michigan State pulling out a 3OT win will surely have repercussions on who is in the money.
  %hr
  %li
    %span{:style=>"font-weight:bold"}12.27
    Ah, what a time to be alive.  It's the final 2 weeks of bowl season, and its all coming to a head.  Unfortunately, the BCS title game looks to be irrelevant for the top tier of players, as the top 4 all have Bama on their rosters.  However, we do have a potential game-changer in the WhoCares.com bowl with Pitt playing January 7th.  So, we may be well into 2012 before we know for sure who the top 3 will be.
  %hr
  %li
    %span{:style=>"font-weight:bold"}12.06
    Well Bowl week(s) is finally here!  It looks like 1st place is a near-lock, but an all-out battle ensues for 2nd and 3rd to get in the money.  Luckily few if any picks will have to face each other, so we have potential for +5 wins for some teams over the bowl period.  All you non-SEC'ers don't have to wait until January to be disappointed, as they locked the crystal ball early this time.  Maybe next year... Urban?  Check out the spreadsheet if you're interested in seeing what might have been... 
  %hr
  %li
    %span{:style=>"font-weight:bold"}12.06
    Spreadsheet of all teams & differentials (Pre-Bowl):
    =link_to "HERE", 'pre_bowl_wins.csv'
  %hr
  %li
    %span{:style=>"font-weight:bold"}11.28
    Exciting times leading into the final week of the regular season & Conference Championship week.  Also known as A-buncha-coaches-just-got-fired week.  I know my picks got Zookered this year, so I'll be watching from the bleachers to see who takes home the big prize.  It definitely looks like the bowl games will separate the men from the boys... and I say that ironically since our present leader is female.
    Houston is still the heavy hitter at (+7), LSU at (+1) with 12 wins, and of course WKU at (+5) for the sharp picks.  Navy is a sad (-5), Miami-OH and UCF are (-6) for the worst picks on the board.
  %hr
  %li
    %span{:style=>"font-weight:bold"}11.22
    Only one regular season game remains for most teams, and its coming down to the wire.  Houston continues to be the best bang-for-the-buck on the board at 11 wins (+6), and the Golden Knights fall from grace hits home with 4 wins (-7).
  %hr
  %li
    %span{:style=>"font-weight:bold"}11.07
    So far, so good this season, with no runaway winners quite yet.  Gator fans are reeling after a winless October, and F$U & UGA seem to be regrouping.  Remember folks, it all gets very interesting during Conference Championship week and bowl season, so don't give up hope just yet.
  %hr
    %span{:style=>"font-weight:bold"}11.07
    Oops, double check those team records!  I enter them manually, so it is entirely possible I fudge one or two.  Send me an email if so.
  %hr  
    %span{:style=>"font-weight:bold"}11.07
    Well, Lousiana-Lafayette is the darling this year, going +5 so far.  I don't think any of us were smart enough to predict that one, but several of you have Houston at +4.  Hometown UCF has a long way to go at -7, and of course defending champs Auburn, despite an upset or two, still sit at -8.  Let's also mention the pre-season joke of Western Kentucky, who now sits at +3 with their 5 wins.  Go 'Toppers!
