.news{:style=>"color:blue;"}
  %p{:style=>"font-weight:bold;"}="Good News Everyone!™"
  %p Since not everyone is a Gator fan (yet), I've added in a few more selectable backgrounds. You can set this under 'Edit Profile'.  Enjoy!

  