%ul
  %li
    %div{:style=>"font-weight:bold"} 06.18
    %div
    Welcome to the 2nd annual "The Moving Goalpost" college football pool!  The first games kick off on August 30, so you have plenty of time to think about your picks.  Will the SEC bring home their 7th straight title?  Will all the conference realignment have an impact?  Is this the year FSU gets back on the (war)horse?
  %hr
