%ul
%li
  %span{:style=>"font-weight:bold"}9.12
  Everything seems to be chugging along.  Georgia is off to a roaring 0-2, FIU scores an upset, and Texas may be back to its old self again.  I see the Hoofmeisters are trying to lay early claim to DFL... interesting strategy...
  As for me, don't be shy of telling me if I've made a mistake.  With dozens of games every weekend, I am prone to mis-awarding a win here or there.  Don't worry, I'll double check them all at the end just in case.  Also, let me know if you have any ideas for improvements.
%hr
  %li
    %span{:style=>"font-weight:bold"}9.2
    We're off to a great start!  I see a lot of smart picks out there, should be a great season.  This time of year is always like Christmas to me.  Good Luck, Go Gators.  
  %hr
  %li
    %span{:style=>"font-weight:bold"}8.31
    Only one person has yet to pay up, you know who you are...
    
    Last day to join & pick folks!  Looks like we have a few last minute signees, so the pot will be well over $200 for the lucky winner.  Get in before Midnight!
    Tomorrow at 6pm Louisville will suit up against... Murray State?  Ah well, don't take the Racers lightly, Coach Strong.  Last year they only lost to Arkansas State by 1.
  %hr
  %li
    %span{:style=>"font-weight:bold"}8.30
    Some of you have not paid.  Some of you won't be playing in 2 days when the season starts.  Hit the $$$ section, hit the bank, hit me up.  PayPal info is all there.
  %hr
  %li
    %span{:style=>"font-weight:bold"}8.29 
    Only a short while left before the season starts!  The Picks portion of the site will disappear starting Thursday at Midnight, so check the arrest reports and make your last minute changes!
    Another note: I don't mind if you send a friend or family member the link to play, but please have them send me an email letting me know who they are, so I'll know how to go about collecting money from them.
  %hr
  %li
    %span{:style=>"font-weight:bold"} 8.21
    Since not everyone is a Gator fan (yet), I've added in a few more selectable backgrounds. You can set this under 'Edit Profile'.  Enjoy!

  