.rock_on{:style=>"text-align:center;"}
  =image_tag 'medal-gold-3-icon.png'
  ="60%"
  =image_tag 'medal-silver-3-icon.png'
  ="30%"
  =image_tag 'medal-bronze-3-icon.png'
  ="10%"
  =image_tag 'poop.png'
  ="$20"