%ul
  %li
    %div{:style=>"font-weight:bold"} 06.18
    %div
    Welcome to the 2nd annual "The Moving Goalpost" college football pool!  The first games kick off on August 30, so you have plenty of time to think about your picks.  Will the SEC bring home their 7th straight title, or will favorite USC take home the crystal?  Will all the conference realignment have an impact?  Most importantly, who among us will be taking home the plastic trophy bead necklace, and the top prize?
  %hr
  %li
    %div{:style=>"font-weight:bold"} 06.20
    %div
    A few new features this year, for our returning players:
    %ul
      %li New URL - Obviously, you're already here.
      %li The Hall of Fame - A tribute to previous year's money winners.
      %li The Forum - A public bulletin board to post your comments, rants, and trash talk.  Log in to contribute!
      %li PayPal Button - For your convenience.  Cash is still welcome, and preferred.
      %li Forgot Password function - It happens to everyone.
      %li New Backgrounds! - A Razorback theme in honor of the champ, and a few others.  The tiny football up top will toggle the display.  Great for the "Incognito" theme.