.rock_on{:style=>"text-align:center;"}
  =image_tag 'medal-gold-3-icon.png'
  ="$#{(User.count - 1) * 20 * 0.6}"
  =image_tag 'medal-silver-3-icon.png'
  ="$#{(User.count - 1) * 20 * 0.3}"
  =image_tag 'medal-bronze-3-icon.png'
  ="$#{(User.count - 1) * 20 * 0.1}"
  =image_tag 'poop.png'
  ="$20"