.rock_on{:style=>"text-align:center;"}
  =image_tag 'medal-gold-3-icon.png'
  ="$#{((User.count - 2) * 20 * 0.6).to_i}"
  =image_tag 'medal-silver-3-icon.png'
  ="$#{((User.count - 2) * 20 * 0.3).to_i}"
  =image_tag 'medal-bronze-3-icon.png'
  ="$#{((User.count - 2) * 20 * 0.1).to_i}"
  =image_tag 'poop.png'
  ="$20"