%h4 Rules 
%p
  It's pretty simple.  Everyone gets to pick 5 teams, and no one knows who has picked whom until the season starts.  The win total of these 5 teams from last year cannot be greater than 40.  All games count; Div. II games, conference championship games, bowl games, etc.  At the beginning of the season, we will reveal everyone's picks and you can no longer change yours.  At the end of the season, the player with the greatest win total will be the winner. Most winners have been well over 55, just to give you an idea.
   
Anyone can play(if they pay up!), but this is meant to be fun. So, the only other rule is no bitching.  --Matt P 
=mail_to 'mmperryman@gmail.com', 'Email Me'