Nice-to-haves:
%ul
  %li Add Bulletin Board blog
  %li Scoreboard for show picks view after deadline
  %li Add Leaderboard to front page
  %li (better) Countdown to when picks locked
  %li Team links to ESPN team page
  %li Helmet/logos
  %li Easy Email updater
  %li Get a real domain
  %li Marquee ticker scoreboard like ESPN?