
To Do List:
%ul 
  %li
    %strike Pre-check the selected teams
  %li 
    %strike Fix sorting chunking
  %li 
    %strike Get Updated CSV      
  %li 
    %strike Cancel page turn event if already on that page
  %li 
    %strike Update total wins on check toggle
  %li 
    %strike Update selected list on check (db)
  %li 
    %strike Update selected list on check     
  %li 
    %strike Add warning/info box on front page if over limit
  %li 
    %strike Add Rules to front page
  %li 
    %strike Fix picks assignment to proper user
  %li Add overall Layout & Background
  %li Update Picks on check
  %li +WIN -WIN Ajax buttons to team index list for easy updating    
  %li 
    %strike Add Payment model, relations, nested attribs
  %li 
    %strike Add Paid checkbox to users edit, Paid column in index
  %li Speed up the My picks page.  BAD Db!
  %li
    %strike Get rid of My Picks link unless logged in
  %li 
    %strike restrict access to team pages - make admin link
  %li 
    %strike restrict access to user pages - make admin link
  %li restrict access to edit picks after deadline
  %li restrict access to overall (picks) until deadline    
Nice-to-haves:
%ul
  %li Add Bulletin Board blog
  %li Scoreboard for show picks view after deadline
  %li Add Leaderboard to front page
  %li (better) Countdown to when picks locked
  %li Team links to ESPN team page
  %li Helmet/logos
  %li Easy Email updater
  %li Get a real domain
  %li Marquee ticker scoreboard like ESPN?