.buttons
  =link_to "Home", root_path, :class => 'positive'
  - if current_user
    =link_to "My Picks", :picks, :class => 'regular'
  =link_to "Standings", :standings, :class => 'negative'
  - if current_user && current_user.admin?
    =link_to "Users", :users, :class => 'positive'
    =link_to "Team List", :teams
  =link_to "Forum", :posts
  =link_to "HOF", :hof, :class => 'hof'
%br
%br
%div{:style=>"text-align:center;font-weight:bold"}
  Our 2012 champ: Designated DFL! 
  %span{:style=>"color:green;font-weight:bold"} ($264 more or less)
  %br
  =image_tag 'turd.png', :size => '300x400'
%hr
  %li
    %span{:style=>"font-weight:bold"} 01.07.2013
    The 2012-14 comes to a close.  We have a new record for wins at 58, with Designated DFL taking top prize.  Also congrats go our to 2-time moneywinner GroceryMan, and Urban Legend for their 2-way tie for 2nd/3rd
    %span{:style=>"color:green;font-weight:bold"} ($88 each).
    A special shout out to 2011 moneywinner Blimey's Blogarts for setting the bar low for next year at 29 wins.  Maybe Texas will do better next year.  
    %span{:style=>"color:green;font-weight:bold"} ($20).
    %span Also, a no-money-but-still-honorable-mention goes out to Goldie Albert Knight III, for racking up 52 wins and just missing the money despite only picking 36 wins from last year.  I don't know if it was strategy, or not understanding the rules... but it almost worked.  Better luck next year!
  %hr
%br
%div{:style=>"text-align:center;font-weight:bold"}
  Our 2011 champ: Toxic Sushi! 
  %span{:style=>"color:green;font-weight:bold"} ($252)
  %br
  =image_tag 'toxic.jpg', :size => '300x400'
%hr
  %li
    %span{:style=>"font-weight:bold"} 01.07.2012
    The 2011-12 inaugural edition of The Moving Goalpost pool is over, folks.  We had a little bit of a runaway for first - congrats again to Toxic Sushi - and a 3-way tie for 2nd/3rd place between GroceryMan, Blimey's Blogarts, and virtualsupremacy
    %span{:style=>"color:green;font-weight:bold"} ($42 each).
    Of course a special round of applause for Stone Cold, bringing home the DFL 
    %span{:style=>"color:green;font-weight:bold"} ($20).
  %hr