=link_to "Team List", :teams
=link_to "My Picks", :picks
=link_to "Standings", :standings

%p
  To Do List:
  %ul 
    %li Add Layout
    %li Update total wins on check toggle
    %li Update selected list on check toggle
    %li Add Rules to front page    
    %li Add Leaderboard to front page
    %li +WIN button to team list for easy updating    
    %li Get Updated CSV
    
  Nice-to-haves:
  %ul
    %li Add Bulletin Board blog
    %li Scoreboard for show picks view
    