.buttons
  - if current_user
    =link_to "My Picks", :picks, :class => 'regular'
  =link_to "Standings", :standings, :class => 'negative'
  - if current_user && current_user.admin?
    =link_to "Users", :users, :class => 'positive'
    =link_to "Team List", :teams
%br  
%br
%br
- if !current_user
  #login_notice You must login in order to select teams.  

%h2{:style=>"text-align:center;"}
  %span
    The 2011 season starts in 
    =distance_of_time_in_words(Time.now, Date.new(2011,9,1)) + ".  "
    Are you ready?

=render 'warning'
=render 'pot'
=render 'news'
#accordion
  %h3 
    %a.ac_head Rules    
  =render 'rules'
  %h3 
    %a.ac_head $$$  
  =render 'money'
  %h3 
    %a.ac_head FAQ  
  =render 'faq'
    
:javascript 
  $(function() {
    $('#accordion').accordion({
     autoheight: false
    });
  });