.buttons
  - if current_user
    =link_to "My Picks", :picks, :class => 'regular'
  =link_to "Standings", :standings, :class => 'negative'
  - if current_user && current_user.admin?
    =link_to "Users", :users, :class => 'positive'
    =link_to "Team List", :teams
%br  
- if !current_user
  #login_notice You must login in order to select teams.  
:javascript
  today  = new Date();
  todayEpoch  = today.getTime();

  target = new Date("1 September, 2011"); 
  targetEpoch = target.getTime();

  daysLeft = Math.floor(((targetEpoch - todayEpoch) / (60*60*24)) / 1000);
  hoursLeft = (daysLeft % 24)

%h6
  %span
    Season starts in 
    :javascript
      document.write(daysLeft + " Days, " + hoursLeft + " Hours");
  %span . Are you ready?

=render 'warning'
-if current_user and current_user.admin?
  .foo{:style => "border:1px solid blue;"}
    =render 'todo' 
=render 'rules'
=render 'money'
=render 'faq'