.buttons
  - if current_user
    =link_to "My Picks", :picks, :class => 'regular'
  =link_to "Standings", :standings, :class => 'negative'
  - if current_user && current_user.admin?
    =link_to "Users", :users, :class => 'positive'
    =link_to "Team List", :teams
  =link_to "Forum", :posts
  =link_to "HOF", :hof, :class => 'hof'
%br  
%br
%br
- if !current_user
  #login_notice You must login in order to select teams.  

%h2{:style=>"text-align:center;"}
  -if Date.today < OPENING_DAY
    %span
      The 2012 season starts in 
      =distance_of_time_in_words(Time.now, OPENING_DAY) + ".  "
      Are you ready?
  -else
    %span
      The 2012 season has begun!

=render 'warning'
=render 'pot'

#accordion
  %h3
    %a.ac_head Good News, Everyone!™
  =render 'news'
  %h3 
    %a.ac_head Rules    
  =render 'rules'
  %h3 
    %a.ac_head $$$  
  =render 'money'
  %h3 
    %a.ac_head FAQ  
  =render 'faq'
    
:javascript 
  $(function() {
    $('#accordion').accordion({
     autoheight: false
    });
  });