-#picks form
%table#picker{:style=>"width:100%"}
  %thead
    %tr
      %th 
      %th Name
      %th Mascot
      %th 2010 Wins
  %tbody
    -Team.all.each do |team|
      %tr.result
        %td
          %input{:type =>'checkbox', :id => "team_#{team.id}", :checked => current_user.picks.map(&:team_id).include?(team.id) ? true : false}
        %td.name_field= team.name  
        %td.mascot_field= team.mascot
        %td.wins_field= team.prev_record.wins            
  %tfoot


