=javascript_include_tag 'picker'

%button=link_to "Home", root_path
%button=link_to "Team List", :teams
%button=link_to "Standings", :standings
%br
.header
  .subheader
    #wins_overflow{:style => "color:red; display:none;"}
      %h5 You are currently over the 40 win threshold. If you do not change your teams before the season starts, your pool entry will be invalid.
#update_area
  =render 'user_picks'
=render 'form'

