
.buttons
  =link_to "Home", root_path, :class => 'regular'
  =link_to "Standings", :standings, :class => 'positive'
%br
%br
%br
.header
  .subheader
    #wins_overflow{:style => "color:red; display:none;"}
      %h5 You are currently over the 40 win threshold. If you do not change your teams before the season starts, your pool entry will be invalid.
#update_area
  =render 'user_picks'
-#=javascript_include_tag 'picker'
-#=render 'form'

