%p
  %strong Name:
  = @pick.name

%p
  = link_to "Edit", edit_pick_path(@pick)
  |
  = link_to "Destroy", @pick, :confirm => 'Are you sure?', :method => :delete
  |
  = link_to "View All", pick_path
