.container
  -if current_user
    ="Logged in as #{current_user.username}"
    %br
    =link_to "Edit Profile", edit_user_path(current_user.id)
    = link_to "Logout", :logout
  -else
    =link_to "Register", new_user_path
    =link_to "Login", :login